* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
table {
	margin:10px auto;
	width:50%;
	border-collapse:collapse;
}

tr {
	border: none;
}

th	{
	width:25%;
}
			
td	{
	text-align:center;
	border-right: 1px black solid;
	border-left: 1px black solid;
}

table caption {
	text-align:left;
	font-size:1.5em;
	background:#FFA500;
	color:black;
}

table {
	border:2px #FFA500 solid;
}

tr:nth-child(even) {
	background: #CCCCCC;
}

tr:nth-child(odd) {
	background: #FFFFFF;
}

.traffic-table {
	border-collapse: collapse;
}

.bottom-border {
	border-bottom: 2px #FFA500 solid;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    border: 1px solid transparent;
}

.col-2nb {width: 25%; border: 1px solid transparent;}
.col-2 {width: 50%;}

h1 {
	color: black;
}

.section {
	border: 1px solid black;
	padding: 15px;
	background-color: #eeeeee;
	color: #ffffff;
	text-align: center;
	font-size: 20px;
}

body {
	background-image: url("wood_background.jpg");
	background-repeat: round;
	background-attachment: fixed;
}