* {
	font-family: Arial, Helvetica, sans-serif;
}

header {
	margin: auto auto 10px auto;
}

section {
	margin: auto auto 10px auto;
	font-size: 16px;
}

ul li {
	text-align: left;
}

nav {
	margin: 2% 15% 2% 15%;
}

img {
	height: 80%;
	width: 80%;
}

h1, h2 {
	font-size: 24px;
}

footer {
	margin: auto auto 10px auto;
}